html 
 head
  title SURVIVE: A survivor game
  style. 
    img{
        max-width: 30%;
        height: auto;
      }
     body{
         text-align: center;
     } 
 body 
  h1 Scene: #{scene_Id} 
  p #{scene_Description}
  each option in scene_Option
    a(href='/scene/'+option.scene) #{option.description}
    br
  br
  br
  img(src=scene_Image, alt="")
  br
  br
  p You managed to survive #{survive_count} decisions.
  a(href='/scene/intro' style='text-align: right;') RESTART GAME at any time
  
  
